.todo__list{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  border: 1px solid rgb(101, 159, 245);
  margin-bottom: 10px !important;
  background-color: aliceblue;
  }

 li {
  margin-left: -2rem;
  margin-right: -5rem;
 }

